<div class="filter-sort-container">
  <input
    type="text"
    placeholder="Filter by title or description..."
    [(ngModel)]="filterText"
    (input)="onFilterChange()"
  />

  <div class="sort-buttons">
    <button (click)="onSortChange('id', 'asc')">Sort by id Ascending</button>
    <button (click)="onSortChange('id', 'desc')">Sort by id Descending</button>
    <button (click)="onSortChange('title', 'asc')">Sort Title Ascending</button>
    <button (click)="onSortChange('title', 'desc')">
      Sort Title Descending
    </button>
    <button (click)="onSortChange('description', 'asc')">
      Sort Description Ascending
    </button>
    <button (click)="onSortChange('description', 'desc')">
      Sort Description Descending
    </button>
  </div>
</div>
<button (click)="toogleVisibility()">Add item</button>
<div
  #newItemContainer
  [@itemVisible]="isVisible ? 'visible' : 'hidden'"
  class="new-item-container"
>
  <input placeholder="type the item title" [(ngModel)]="newItem.title" />
  <input
    placeholder="Type the item description"
    [(ngModel)]="newItem.description"
  />
  <button (click)="onAddItem()">Save</button>
</div>
<ul class="item-list">
  <li *ngFor="let item of filteredItems">
    <span>{{ item.id }}</span>
    <h3>{{ item.title }}</h3>
    <p>{{ item.description }}</p>
    <button (click)="deleteItem(item)">Remove</button>
  </li>
</ul>
