.filter-sort-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.sort-buttons {
  display: flex;
  gap: 10px;
}

.item-list {
  list-style: none;
  padding: 0;

  li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;

    button {
      float: right;
      margin-top: -50px;
      margin-right: 10px;
    }
  }
}
.new-item-container {
  justify-content: space-between;
  gap: 1rem;
  padding-top: 1rem;
  display: flex;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
